/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 /**
  * PLUGINS
  * 
  * For the installed plugins and the add new plugins screens.
  */

/* This provides better distinction between active and inactive plugins. */
.plugins tr.inactive *,
.plugins a.delete,
.row-actions span.delete a {
    background: #f3f3f3;
    color: #777777;
}

.plugins tr.inactive .activate a:hover {
    color: #76a91d;
}

.plugins tr.active .deactivate a:hover,
.plugins tr.inactive .delete a:hover {
    color: #aa0000;
}

.plugins a.delete:hover,
.row-actions span.delete a:hover {
    color: #aa0000 !important;
}

/**
 * MEDIA
 * 
 * For the media library and media uploads screens.
 */

/* Fix SVGs not showing correctly as featured images. */
#postimagediv .inside .svg img {
    width: 100%;
}

/**
 * MISCELLANEOUS
 */

/* Easily copy the code of registered ACF fields on the Registered Fields screen. */
.import-registered-field-groups-arrays {
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
}