---
---

@import "{{ site.theme }}";

.inner {
	max-width: 768px;
}

#header_wrap {
	background: #403b42;
}

#footer_wrap,
#forkme_banner {
	background: #687530;
}

.inner h1,
.inner h2,
.inner h3,
.inner h4,
.inner h5,
.inner h6,
.inner p,
.inner ul {
	color: #403b42;
}