---
---

@import "{{ site.theme }}";

.inner {
	max-width: 768px;
}

#header_wrap {
	background: #403b42;
}

#footer_wrap,
#forkme_banner {
	background: #687530;
}

h1, h2, h3, h4, h5, h6 {
	color: #403b42;
}